ng-scope {
    margin-bottom: 60px;
    margin-top: 90px;
}

#container {
    min-width: 310px;
    max-width: 800px;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 110px;
}
#container {
    height: 400px;
}